body {
	background-color: #F2F4F5 !important;
	font-family: Segoe UI !important;
	font-size: 14px !important;
}

.formfield {
	border: 1px solid #CCCCCC;
	height: 43px;
	padding: 10px;
	width: 100%;
	font-size: 14px;
}

.alert-holder {
	height: 45px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.alert-holder .alert {
	width: 100%;
	text-align: center;
}